/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */
* {
    box-sizing: border-box;
    color: hsla(0, 0%, 100%, 0.75);

}

body {
    font-family: 'Lexend Deca';
    max-width: 1440px;
    background-color: hsl(0, 0%, 95%);
    margin-top: 40px;
    margin-left: 200px;
}

.container {

    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 80vh;
    padding: 5% 10%;


}

.art1,
.art2,
.art3 {
    width: 240px;
    height: 60vh;
    padding: 20px 32px;
    font-size: 15px;


}

p {
    text-align: left;
}

figure {
    margin-left: 0px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Displa';
}

.art1 {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.art2 {
    background-color: hsl(184, 100%, 22%);
}

.art3 {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.learn {
    padding-top: 20%;
    /* margin-left: 40px; */

}

.learn p {
    border: 1px solid rgb(247, 235, 235);
    border-radius: 20px;
    width: 9vw;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 95%);
}

.learn p:hover {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsla(0, 0%, 95%, 0);
    cursor: pointer;
}


.p1 {
    color: hsl(31, 77%, 52%);
}

.p2 {
    color: hsl(184, 100%, 22%);
}

.p3 {
    color: hsl(179, 100%, 13%);
}

.button {

    background-color: hsl(31, 77%, 52%);
    width: 9vw;
    height: 9vh;
    border-radius: 10px;
    padding: 15px 10px;
    margin-left: 60%;
    margin-top: 0px !important;
}

.button a {
    text-decoration: none;
    color: hsla(343, 100%, 1%, 0.75);
    padding: 15px 10px 10px 5px;
    font-size: 18px;

}

.button:hover {
    background-color: hsla(0, 0%, 100%, 0.75);
    border: 1px solid black;
}

.button a:hover {
    color: lightskyblue;
    font-size: 20px;
}